{%extends file="layout.html"%}
{%block "content"%}
<link rel="stylesheet" href="/css/autoComplete.css">
	<section id="main-content">
		<div class="col-md-12 top">
			<div class="panel panel-default">
				<div class="panel-body top-container">
					<form class="form-horizontal" onsubmit="return false;">
						<div class="col-md-2">
							<div class="form-group">
								<label class="col-sm-5 control-label">操作人</label>
								<div class="col-sm-7">
		                            <select id="admin" class="form-control" name="admin"><option value="0">所有</option>
		                            {%foreach $admin as $item%}
		                            	<option value="{%$item.id%}">{%$item.name%}</option>
		                            {%/foreach%}
		                            </select>
		                        </div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="col-sm-4 control-label">操作对象</label>
								<div class="col-sm-3" style="padding:0;">
		                            <select id="type" name="type" style="height: 36px;border-radius: 5px;width:70px;">
		                            	<option value="user">用户</option>
		                            	<option value="order">订单</option>
		                            </select>
		                        </div>
								<div class="col-sm-5" id="user">
		                            <input class="form-control autoComplet" id="student" name="user">
		                            <ul class="completeList" data-target="student"></ul>
		                            <input type="hidden" id="studentId" value=0>
		                        </div>
								<div class="col-sm-5" id="order" style="display: none;">
		                            <input class="form-control" id="orderId" name="order">
		                        </div>
							</div>
						</div>
						<div class="col-md-3">
	                		<div class="form-group">
		                        <label for="teacher" class="col-sm-5 control-label">开始日期</label>
		                        <div class="input-group date form_datetime col-md-6">
				                    <input class="form-control" size="" type="text" value="" id="begin" readonly name="begin">
				                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				                </div>
		                    </div>
		                </div>
		                <div class="col-md-3">
		                	<div class="form-group">
			                	<label for="end" class="control-label col-sm-5 text-left">结束日期</label>
				                <div class="input-group date form_datetime col-md-6">
				                    <input class="form-control" size="" type="text" value="" id="end" readonly name="end">
				                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				                </div> 
			                </div>
		                </div>
		                <div class="col-md-1">
		                	<button class="btn btn-primary" id="time">筛选</button>
		                </div>
	                </form>
				</div>
			</div>
		</div>
  <!--tiles start-->
		<div class="row">
			<div class="col-md-12">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <table class="table">
	                    	<thead>
	                    		<tr>
	                    			<th>操作人</th>
	                    			<th>内容</th>
	                    			<th>时间</th>
	                    		</tr>
	                    	</thead>
	                    	<tbody id="data">
	                    		
	                    	</tbody>
	                    </table>
	                    <!--页码-->
	                    <div class="row">
	                        <div class="col-xs-6 pull-right">
	                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
	                                <ul class="pagination pull-right" id="paging">
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
        	</div>
		</div>
	</section>
	<template>
		<tr>
			<td>{name}</td>
			<td>{text}</td>
			<td>{time}</td>
		</tr>
	</template>
{%/block%}
{%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
$(function(){
	param={
		T:$('template').html(),
		target:'data'
	}
	PAGER.init(param);
	$('#time').on('click',function(){
		var admin=$('#admin').val();
		if (admin==0) delete PAGER.param.admin;
		else PAGER.param.admin=admin;
		var type=$('#type').val();
		if(type=="user"){
			delete PAGER.param.order;
			var user=$('#studentId').val();
			if (user!=0) PAGER.param.user=user;
			else delete PAGER.param.user;
		}else{
			delete PAGER.param.user;
			var order=$('#orderId').val();
			if (order.length>0&&!isNaN(order)) PAGER.param.order=order;
			else delete PAGER.param.order;
		}
	});
})
$('#type').change(function(){
	var type=$(this).val();
	if(type=="user"){
		$('#user').css('display','block');
		$('#order').css('display','none');
	}else{
		$('#user').css('display','none');
		$('#order').css('display','block');
	}
});
</script>
<script src="/scripts/time.js"></script>
<script src="/scripts/autoComplet.js"></script>
{%/block%}