{%extends file="layout.html"%}
{%block "style"%}
<link rel="stylesheet" href="/css/badTeacher.css">
{%/block%}
{%block "content"%}
<section id="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">异常教练</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id="tm">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>手机号</th>
                            <th>昵称</th>
                            <th>真实姓名</th>
                            <th>所属驾校</th>
                            <th>教导类型</th>
                            <th>最近7天取消订单数量</th>
                            <th>注册时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="text-center" id="badTeacher_table">
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <div class="dataTables_paginate paging_simple_numbers" >
                                <ul class="pagination pull-right" id="paging">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 经提示信息弹出的框 -->
<div class="modal fade" id="yc_teaBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">异常信息</h4>
            </div>
            <div class="modal-parent">
                <div class="modal-body modal-body-css">
                    <div class="left_tea">
                        <table class="tableStyle" class="yc_teaInfo">
                            <tr>
                                <td>真实姓名</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>昵称</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>联系方式</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>教导类型</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>教导科目</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>所属驾校</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>账户状态</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>账户余额</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>取消数量</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>注册时间</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>登录时间</td>
                                <td>xxx</td>
                            </tr>
                        </table>
                        <div class="opra_btn">
                            <button type="button" class="btn" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-danger " id="btnSure">冻结账户</button>
                        </div>
                    </div>
                    <div class="right_stu">
                        <table>
                            <tr>
                                <td>学员姓名</td>
                                <td>同伴姓名</td>
                                <td>训练场地</td>
                                <td>预约时间</td>
                                <td>训练费用</td>
                            </tr>
                            <tr>
                                <td>xxxx</td>
                                <td>xxxx</td>
                                <td>xxxx</td>
                                <td>xxxx</td>
                                <td>xxxx</td>
                            </tr>
                            <tr>
                                <td class="cancle_reason">取消<br>原因</td>
                                <td colspan="4">xxxxxxxxxxx</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!--  冻结/恢复模态框-->
<div class="modal fade" id="sure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">冻结／恢复账户</h4>
            </div>
            <div class="modal-parent">
	            <div class="modal-body modal-body-css">
                    <div>
                        <img src="/images/tuihuan.png" alt="" />
                        <span>确定要<span id="status"></span>账户吗？</span>
                    </div>
	            	
	            </div>
	            <div class="modal-footer modal-footer-css">
	                <button type="button" class="btn btn-danger" id="btnok">确定</button>
	                <button type="button" class="btn" data-dismiss="modal">关闭</button>
	            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="detail-btn"></i>账号信息</h4>
            </div>
            <div class="modal-parent">
	            <div class="modal-body" id="detail_body" style="width:100%;">
	            </div>
	            <div class="modal-footer modal-footer-css">
	            	 <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
	                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
	            </div>
            </div>
        </div>
    </div>
</div>
<script id="detail_tpl" type="text/template">
	<table class="tableStyle">
		<tr><td>用户昵称</td><td>{name}</td></tr>
		<tr><td>手机号码</td><td>{tel}</td></tr>
		<tr><td>真实姓名</td><td>{realname}</td></tr>
		<tr><td>所属驾校</td><td>{school}</td></tr>
		<tr><td>教练星级</td><td>{grade}星教练</td></tr>
		<tr><td>教导类型</td><td>{kind}</td></tr>
		<tr><td>学车币</td><td>{money}</td></tr>
	   	<tr><td>身份证正面</td><td><img class="big-pic js-bigImg" src="{idA}" /></td></tr>
	   	<tr><td>身份证背面</td><td><img class="big-pic js-bigImg" src="{idB}" /></td></tr>
	   	<tr><td>资格证</td><td><img class="big-pic js-bigImg" src="{zgz}" /></td></tr>
	   	<tr><td>驾照</td><td><img class="big-pic js-bigImg" src="{jiazhao}" /></td></tr>
	   	<tr><td>汽车照片</td><td><img class="big-pic js-bigImg" src="{carPic}" /></td></tr>
	   	<tr><td>车牌号</td><td>{carId}</td></tr>
		<tr><td>抽成总收入</td><td>{inviteMoney}</td></tr>
		<tr><td>注册时间</td><td>{regTime}</td></tr>
		<tr><td>最近登录时间</td><td>{addrTime}</td></tr>
	</table>
</script>
{%/block%}

{%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/back/badTeacher.js"></script>
{%/block%}