{%extends file="layout.html"%}
{%block "content"%}
<link rel="stylesheet" href="/css/autoComplete.css">
<section id="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body top-container">
            	<form class="form-horizontal" onsubmit="return false;">
	                <div class="col-md-3">
	                    <div class="form-group" style="margin-bottom: 0;">
	                        <label for="" class="col-sm-6 control-label">用户名/手机号</label>
	                        <div class="col-sm-6">
	                            <input class="form-control autoComplet" placeholder="请输入用户名" id="user">
	                            <ul class="completeList" data-target="user"></ul>
	                            <input class="form-control" type="hidden" id="userId">
	                        </div>
	                    </div>
	                </div>
                    <div class="col-md-3">
                		<div class="form-group" style="margin-bottom: 0;">
	                        <label for="teacher" class="col-sm-5 control-label">开始日期</label>
	                        <div class="input-group date form_datetime col-md-6" style="margin-bottom: 0;">
			                    <input class="form-control" size="" type="text" value="" id="begin">
			                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>-->
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div>
	                    </div>
                	</div>
	                <div class="col-md-3">
	                	<div class="form-group" style="margin-bottom: 0;">
		                	<label for="end" class="control-label col-sm-5 text-left">结束日期</label>
			                <div class="input-group date form_datetime col-md-6" style="margin-bottom: 0;">
			                    <input class="form-control" size="" type="text" value="" id="end" >
			                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>-->
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div> 
		                </div>
                	</div>
	                <div class="col-md-3">
	                	<button class="btn btn-primary" onclick="download('{%$url%}')" style="margin-bottom: 0;">表格下载</button>
	                	<button class="btn btn-primary" onclick="print()" style="margin-bottom: 0;">打印</button>
	                	<button class="btn btn-primary" id="time" style="margin-bottom: 0;">查询</button>
	                </div>
            	</form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            {%foreach from=$head item=$item key=$key%}
                            <th>{%$item%}</th>
                            {%/foreach%}
                        </tr>
                        </thead>
                        <tbody id="data" class="text-center">
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination pull-right" id="paging">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<template id="template" style="display:none"><tr>
    {%foreach from=$head item=$item key=$key%}
    <td>{{%$key%}}</td>
    {%/foreach%}
</tr></template>
{%/block%}

{%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/scripts/download.js"></script>
<script>
{%include file="print.html"%}
$(document).ready(function(){
	param={
		T:$('#template').html(),
		target:'data',
	}
	PAGER.init(param);
    $('#time').click(function(){
        var key=$('#userId').val();
        if (key==0) delete PAGER.param.uid;
        else PAGER.param.uid=key;
    });
});
</script>
<script src="/scripts/autoComplet.js"></script>
<script src="/scripts/time.js"></script>
{%/block%}