{%extends file="layout.html"%}
{%block "style"%}
<style>
    #detailContent ul{
        padding:0;
        margin: 0;
        width:100%;
        min-height: 100px;
    }
    #detailContent ul li{
        width:100px;
        height:100px;
        display: block;
        float:left;
        padding:5px;
    }
    #detailContent ul li img{
        width:100%;
        height:100px;;
        border-radius: 8px;

    }
    .close-btn{
        float:right;
        background: url('/images/close.png') no-repeat scroll 0 0;
        width:30px;
        height:30px;
        background-size: 20px 20px;
    }
    .tuihuan{
        float:left;
        background: url('/images/tuihuan.png') no-repeat scroll 0 0;
        width: 24px;
        height: 24px;
        background-size: 20px 20px;
        margin-left: 86px;
    }
    .judge{
    	padding-left: 20%;
    	font-size: 1.5em;
    }
    .judge p span:first-child{
    	display:inline-block;
    	width:100px;
    	text-align: right;
    	font-weight: bold;
    }
    .judge p span:nth-child(2){
    	padding: 0px 50px;
    	padding-left: 0;
    	text-align: left;
    	margin-left: 10px;
    }
    .judge p textarea{
    	margin-left: 10px;
    	width:200px;
    	height: 130px;
    	border-radius: 10px;
    }
    .judge .star{
    	display: inline-block;
    	width: 132px;
    	height:20px;
    	background:url('/images/star.png') no-repeat -132px 0px;
    }
    .judge .oneStar{
    	background:url('/images/star.png') no-repeat -111px 0px;
    }
    .judge .twoStar{
    	background:url('/images/star.png') no-repeat -82px 0px;
    }
    .judge .threeStar{
    	background:url('/images/star.png') no-repeat -55px 0px;
    }
    .judge .fourStar{
    	background:url('/images/star.png') no-repeat -26px 0px;
    }
    .judge .fiveStar{
    	background:url('/images/star.png') no-repeat 0px 0px;
    }
</style>
{%/block%}
{%block "content"%}
<section id="main-content">
    <div class="col-md-12 top">
        <div class="panel panel-default">
	        <div class="panel-body top-container">
	        	<form class="form-horizontal">
		        	{%include file="autoComplete.html"%}
		            <div class="col-md-3">
                		<div class="form-group">
	                        <label for="teacher" class="col-sm-5 control-label">开始日期</label>
	                        <div class="input-group date form_datetime col-md-6">
			                    <input class="form-control" size="" type="text" value="" id="begin">
			                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>-->
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div>
	                    </div>
	                </div>
	                <div class="col-md-3">
	                	<div class="form-group">
		                	<label for="end" class="control-label col-sm-5 text-left">结束日期</label>
			                <div class="input-group date form_datetime col-md-6">
			                    <input class="form-control" size="" type="text" value="" id="end" readonly>
			                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>-->
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div> 
		                </div>
	                </div>
	                <div class="col-md-1">
	                	<button class="btn btn-primary" id="time">搜索</button>
	                </div>
	            </form>
	        </div>
    	</div>
    </div>
    <!--tiles start-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">评价管理</h3>
                </div>
                <div class="panel-body">

                    <table class="table" id="comment">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="checkAll"></th>
                            <th>学员</th>
                            <th>教练</th>
                            <th>发布时间</th>
                            <th>描述相符</th>
                            <th>教学质量</th>
                            <th>服务态度</th>
                            <th>满时教学</th>
                            <th>内容</th>
                            <th>操作</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="data">
                        </tbody>
                    </table>
                    <div class="row">
                    	<button class="btn btn-danger" style="margin-left: 20px" id="all">批量删除</button>
                        <div class="col-xs-6 pull-right">
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination pull-right" id="paging">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="close-btn"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="delete-btn"></i>删除评论</h4>
            </div>
            <div class="modal-body modal-body-css">
            	<img src="/images/tuihuan.png" alt="" />
                <span>是否删除？</span>
            </div>
            <div class="modal-footer modal-footer-css">
                <button type="button" class="btn btn-danger" id="btnDel">确定</button>
                <button type="button" class="btn" data-dismiss="modal" id="close">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css" style="min-height:30%;">
        <div class="modal-content" id="detailContent">

        </div>
    </div>
</div>
<template id="template">
<tr> 
<td><input type="checkbox" data-id="{id}"></td>
<td>{stu}</td> 
<td>{tea}</td> 
<td>{time}</td> 
<td width="80px">{describe}星</td> 
<td width="80px">{quality}星</td> 
<td width="80px">{attitude}星</td> 
<td width="80px">{teachTime}星</td> 
<td>{content}</td> 
<td> 
<button type="submit" class="btn btn-primary btn-sm js-detail" data-toggle="modal" data-target="#detail" data-id="{id}"><i class="detail-btn"></i>查看详情</button> 
</td> 
<td> 
<button class="btn btn-danger btn-sm js-del" data-toggle="modal" data-target="#delete" data-id="{id}"><i class="delete-btn"></i>删除评价 </button>
</td> 
</tr>
</template>
{%/block%}
{%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/back/comment.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/scripts/time.js"></script>
{%/block%}