{%extends file="layout.html"%}
{%block "style"%}
	<style>
		.addr{
			display: inline-block;
			width: 80px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.addr:hover{
			cursor:pointer;
		}
		.add_td{
			position: relative;
		}
		.allInfo{
			width: 150px;
			position: absolute;
			top:0px;
			left:98px;
			border: 1px solid #ddd;
			padding: 5px;
			text-align: left;
			display: none;
			z-index: 500;
			background: #fff;
			cursor:pointer;
		}
		.cancelInfo{
			
		}
		.cancelLi{
			list-style-type: none;
			margin-top: 20px;
			position: relative;
		}
		.cancelLi i{
	    	position: absolute;
    		top: 58px;
    		left: 70px;
		}
		.cancel{
			padding: 20px;
    		margin-left: -20px;
    		margin-right: -20px;
    		padding-top: 40px;
		}
		.cancel p {
		    padding-left: 160px;
		}
		#map{
			width: 441px;
			height: 170px;
		}
	</style>
{%/block%}
{%block "content"%}
<section id="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>申述者</th>
                            <th>申述时间</th>
                            <th style="width: 80px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">申述地点</th>
                            <th>学员</th>
                            <th>教练</th>
                            <!--<th>拼教练同伴</th>-->
                            <th>预约时间</th>
                            <th>预约场地</th>
                            <th>实际支付</th>
                            <th>费用</th>
                            <th>处理时间</th>
                            <th>处理人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="data" class="text-center">
                        </tbody>
                    </table>
                    <!--页码-->
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination pull-right" id="paging">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<template id="template">
<tr>
    <td>{upName}</td>
    <td>{time}</td>
    <td class="add_td"><span class="addr">{address}</span><span class="allInfo"></span></td>
    <td>{stu}</td>
    <td>{tea}</td>
    <td>{partner}</td>
    <td>{orderTime}</td>
    <td>{place}</td>
    <td class="price">{price}</td>
    <td class="price">{priceTea}</td>
    <td>{dealTime}</td>
    <td>{oprator}</td>
    <td><button class="btn btn-primary btn-sm shensu_detail" data-toggle="modal" data-target="#shensu_detail" data-id="{orderId}" ><i class="detail-btn"></i>详情</button>&nbsp;{option}</td>
</tr>
</template>-->
<script id="template" type="text/template">
	<tr>
	    <td>{upName}</td>
	    <td>{time}</td>
	    <td class="add_td"><span class="addr">{address}</span><span class="allInfo"></span></td>
	    <td>{stu}</td>
	    <td>{tea}</td>
	    <!--<td>{partner}</td>-->
	    <td>{orderTime}</td>
	    <td>{place}</td>
	    <td class="price">{price}</td>
	    <td class="price">{priceTea}</td>
	    <td>{dealTime}</td>
	    <td>{oprator}</td>
	    <td><button class="btn btn-primary btn-sm shensu_detail" data-toggle="modal" data-target="#shensu_detail" data-id="{orderId}" ><i class="detail-btn"></i>详情</button>&nbsp;{option}</td>
	</tr>
</script>
<!--处理申诉-->
<div class="modal fade" id="shensu_chuli" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><i class='cacel-btn'></i>处理申诉</h4>
            </div>
            <div class="modal-parent">
	            <div class="modal-body J-detail" id="cancelContent">
	                <table class="chuli tableStyle">
	                </table>
	                <div class="cancelInfo">
						<li class="cancelLi"><i><img src="/images/tuihuan.png"></i>
							<div class="cancel">
								<p>退还学员金额(学车币/人)：<input type='text' id='stu'></p>
								<p style="padding-left:265px">教练扣款：<input type="text" id="tea"></p>
							</div>
						</li>
					</div>
	            </div>
	            <div class="modal-footer modal-footer-css">
	                <button type="button" class="btn btn-primary" id="sure">确定</button>
	                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
	            </div>
            </div>
        </div>
    </div>
</div>
<!--查看详情-->
<div class="modal fade" id="shensu_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="detail-btn"></i>订单详情</h4>
            </div>
            <div class="modal-parent">
	            <div class="modal-body J-detail" id="detailContent">
	                <table class="shensu tableStyle">
						
	                </table>
	            </div>
	            <div class="modal-footer modal-footer-css">
	                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
	                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
	            </div>
            </div>
        </div>
    </div>
</div>
{%/block%}

{%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xflH3Ob49tmEMq1yBrGMYHd8"></script>
<script src="/scripts/back/complain.js"></script>
{%/block%}