{%extends file="layout.html"%}
{%block "style"%}
{%/block%}
{%block "content"%}
<section id="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body top-container">
            	<form class="form-horizontal" onsubmit="return false;">
	                <div class="col-md-3">
	                    <div class="form-group" style="margin-bottom: 0;">
	                        <label for="" class="col-sm-6 control-label">用户名/手机号</label>
	                        <div class="col-sm-6">
	                            <input class="form-control autoComplet" placeholder="请输入用户名" id="key">
	                        </div>
	                    </div>
	                </div>
                    <div class="col-md-3">
                		<div class="form-group" style="margin-bottom: 0;">
	                        <label for="teacher" class="col-sm-5 control-label">开始日期</label>
	                        <div class="input-group date form_datetime col-md-6" style="margin-bottom: 0;">
			                    <input class="form-control" size="" type="text" value="" id="begin">
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div>
	                    </div>
                	</div>
	                <div class="col-md-3">
	                	<div class="form-group" style="margin-bottom: 0;">
		                	<label for="end" class="control-label col-sm-5 text-left">结束日期</label>
			                <div class="input-group date form_datetime col-md-6" style="margin-bottom: 0;">
			                    <input class="form-control" size="" type="text" value="" id="end" >
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div> 
		                </div>
                	</div>
					<button class="btn btn-primary col-md-offset-1" id="time">搜索</button>
            	</form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>年龄</th>
                            <th>地址</th>
                            <th>报名时间</th>
                        </tr>
                        </thead>
                        <tbody id="data" class="text-center">
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination pull-right" id="paging">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script id="template" type="text/template">
	<tr>
		<th>{id}</th>
		<th>{name}</th>
		<th>{tel}</th>
		<th>{age}</th>
		<th>{address}</th>
		<th>{time}</th>
	</tr>
</script>
{%/block%}

{%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
$(document).ready(function(){
	param={
		T:$('#template').html(),
		target:'data',
		dealData:function(data){
			for (var x in data){
				data[x].time=window.data.getTime(data[x].time);
			}
			return data;
		}
	}
	PAGER.init(param);
});
</script>
<script src="/scripts/time.js"></script>
{%/block%}