{%extends file="layout.html"%}

{%block "style"%}
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
{%/block%}

{%block "content"%}
<section id="main-content">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <label for="begin" class="col-md-2 control-label">起始时间</label>
                <div class="input-group date form_datetime col-md-5" data-link-field="begin">
                    <input class="form-control" size="16" type="text" value="">
					<input type="hidden" id="begin" value="" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <label for="end" class="col-md-2 control-label">截止时间</label>
                <div class="input-group date form_datetime col-md-5" data-link-field="end">
                    <input class="form-control" size="16" type="text" value="">
					<input type="hidden" id="end" value="" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <button class="btn btn-primary js-download" data-data="activity">活动支出</button>
                <button class="btn btn-primary js-download" data-data="income">充值记录</button>
                <button class="btn btn-primary js-download" data-data="outcome">提现记录</button>
                <button class="btn btn-primary js-download" data-data="refund">退款记录</button>
                <button class="btn btn-primary js-download" data-data="order">消费记录</button>
                <button class="btn btn-primary js-download" data-data="teaIncome">教练收入</button>
                <button class="btn btn-primary js-download" data-data="ticheng">提成收入</button>
            </div>
        </div>
    </div>
</section>
{%/block%}

{%block 'scriptItem'%}
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
function download(url){
	var begin=$('#begin').val();
	var end=$('#end').val();
	if (begin.length==0||end.length==0){
		alert('请设定时间！');
		return;
	}
	url=url+'?begin='+begin.substr(0,10)+'&end='+end.substr(0,10);
	window.open(url,'_blank');
}
$(document).ready(function(){
	$('.form_datetime').datetimepicker({
        language:  'zh-CN',
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
		format:'yyyy-mm-dd'
    });
	$('.js-download').on('click',function(){
		download('/back/export/'+$(this).attr('data-data'));
	});
});
</script>
{%/block%}