<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="ThemeBucket">
	<meta name="renderer" content="webkit"/>
	<meta name="referrer" content="always"/>
    <title>Login</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    <link href="/bootstrap-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/scripts/html5shiv.js"></script>
    <script src="/scripts/respond.min.js"></script>
    <![endif]-->
</head>

<style>
    .login-wrap a:hover{
        text-decoration: none;
    }
</style>
<body class="login-body">

<div class="login-container">
	<div class="form-parent">
		<div class="form-signin-heading text-center login-top">
	            <h1 class="sign-title">蚁众后台管理系统</h1>
	            <p class="title-en">Ant-Man Background Management System</p>
	            <img src="/images/login.png" alt=""/>
	           	<span>登录</span>
        </div>
	    <form class="form-signin login-bottom">
	        <div class="login-wrap">
	        	<div class="user">
	        		<span><img src="/images/user.png" alt="" /></span><input type="text" class="" placeholder="账号" id="user" autofocus>
	        	</div>
	        	<div class="pwd">
	        		<span><img src="/images/pwd.png" alt="" /></span><input type="password" class="" placeholder="密码" id="password">
	        	</div>
	            <input class="btn btn-lg btn-login btn-block" id="sub" style="font-size:12px;" type="submit" value="登录"/>
	        </div>
	    </form>
    </div>
</div>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/scripts/jquery-1.12.3.min.js"></script>
<script src="/bootstrap-dist/js/bootstrap.min.js"></script>
<script src="/scripts/modernizr.min.js"></script>
<script src="/scripts/login.js"></script>
</body>
</html>
