<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
	<meta name="renderer" content="webkit"/>
	<meta name="referrer" content="always">
	<meta name="referrer" content="unsafe-url"/>
    <title>Login</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    <link href="/bootstrap-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/scripts/html5shiv.js"></script>
    <script src="/scripts/respond.min.js"></script>
    <![endif]-->
    
	<style>
	    .login-wrap a:hover{
	        text-decoration: none;
	    }
	    .tishi{
	    	width: 100%;
	    	height: 30px;
	    	background: #fff9b1;
	    	text-align: center;
	    	line-height: 30px;
	    	display: none;
	    }
	</style>
</head>
<body class="login-body">
	<div class="tishi">您的浏览器版本过低，为保证您的使用体验，请选择<a href="/back/back/view/upgrade"target="_blank">升级浏览器</a>,或用非IE浏览器打开！！！！</div>
<div class="login-container rounded">
	<h1 class="sign-title rounded">蚁众后台管理系统</h1>
	<p class="title-en rounded">Ant-Man Background Management System</p>
	<div class="form-parent rounded">
		<div class="form-signin-heading text-center login-top rounded">
	            <img src="/images/login.png" alt=""/>
	           	<span>登录</span>
        </div>
	    <form class="form-signin login-bottom rounded">
	        <div class="login-wrap">
	        	<div class="user rounded">
	        		<span><img src="/images/user.png" alt="" /></span><input type="text" class="" placeholder="账号" id="user" autofocus>
	        	</div>
	        	<div class="pwd rounded">
	        		<span><img src="/images/pwd.png" alt="" /></span><input type="password" class="" placeholder="密码" id="password">
	        	</div>
	            <input class="btn btn-lg btn-login btn-block rounded" id="sub" style="font-size:12px;" type="submit" value="登录"/>
	        </div>
	    </form>
    </div>
</div>
<!--[if lt IE 10]>
	<script type="text/javascript" src="/scripts/PIE.js"></script>
	<![endif]-->
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/scripts/jquery-1.12.3.min.js"></script>
<script src="/bootstrap-dist/js/bootstrap.min.js"></script>
<script src="/scripts/modernizr.min.js"></script>
<script src="/scripts/login.js"></script>
</body>
</html>
