{%extends file="layout.html"%} {%block "style"%}
<style>
    .form-horizontal.form-border .form-group{
        border:none;
    }
</style>
 {%/block%} {%block "content"%}
<section id="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal form-border" onsubmit="return false;" style="padding:200px;">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">真实姓名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="name" value={%$smarty.session.name%}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">原密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" name="oldPwd" id="oldPwd"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">新密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" name="newPwd" id="newPwd"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">重复密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="repPwd"/>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary" onclick="change()">保存</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{%/block%} 
{%block "scriptItem"%}
	<script>
	function change(){
		if ($('#repPwd').val()!=$('#newPwd').val()){
			alert('两次密码输入不一致！');
			return false;
		}
		$.web('/back/sa/info',$('form').serialize(),function(){
			alert('修改成功！');
			location.reload();
		},'put');
	}
	</script>
{%/block%}
