{%extends file="layout.html"%}

{%block "style"%}
<link rel="stylesheet" href="/css/autoComplete.css">
<style>
    #detailContent ul{
        /*width:60%;*/
        display: block;
        margin:0 auto;
    }
    #cancelContent ul li,#detailContent ul li{
        padding:5px 0;
    }
    #cancelContent ul li i,#detailContent ul li i{
        font-style:normal;
    }
    #cancelContent ul li i.contenTime,#detailContent ul li i.contenTime{
        display: block;;
    }  
    .cancelLi{
        list-style-type: none;
        margin-top: 20px;
        position:relative;
    }
    .cancelLi i{
    	position:absolute;
    	top:58px;
    	left:70px;
    }
    .cancel{
        padding:20px;
        margin-left:-20px;
        margin-right:-20px;
        padding-top:40px ;
    }
    .cancelorder{
    	margin-top: 50px;
    }
    .cancel button{
    	width:95px;
    }
    .cancel p{
        padding-left:160px;
    }
    #detailContent .time_place{
    	margin-top: 5px;
    }
    .time_place li{
    	padding-top:3px;
    	border-top:1px solid #ddd;
    }
</style>
{%/block%}
{%block "content"%}
<section id="main-content">
    <div class="col-md-12 top">
        <div class="panel panel-default">
            <div class="panel-body top-container" >
            	<form class="form-horizontal" onsubmit="return false;">
            		<div class="row">
	                <div class="col-md-4">
	                    <div class="form-group">
	                        <label for="student" class="col-sm-4 control-label">学员</label>
	                        <div class="col-sm-7" style="padding:0px;">
	                            <input class="form-control autoComplet" id="student" placeholder="学员名">
	                            <ul class="completeList" data-target="student"></ul>
	                            <input type="hidden" id="studentId" value=0>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-4" >
	                    <div class="form-group">
	                        <label for="teacher" class="col-sm-4 control-label">教练</label>
	                        <div class="col-sm-7"  style="padding:0px;">
	                            <input class="form-control autoComplet" id="teacher" placeholder="教练名">
	                            <ul class="completeList" data-target="teacher"></ul>
	                            <input type="hidden" id="teacherId" value=0>
	                        </div>
	                    </div>
	                </div>
                	
	                <div class="col-md-4">
	                	<select id="active" style="width: 156px;height:38px;border-radius: 5px;margin-left:8%">
	                		<option value="0">所有订单</option>
	                		<option value="1">有效订单</option>
	                		<option value="2">待学车订单</option>
	                	</select>
	                	<button class="btn btn-primary col-md-offset-1" id="time">搜索</button>
	                </div>
	                </div>
	                <div class="row">
		                <div class="col-md-4">
		            		<div class="form-group" style="margin-bottom: 0;">
		                        <label for="teacher" class="col-sm-4 control-label">开始日期</label>
		                        <div class="input-group date form_datetime col-md-7" style="margin-bottom: 0;">
				                    <input class="form-control" size="" type="text" value="" id="begin" >
				                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>-->
				                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				                </div>
		                    </div>
		                </div>
		                <div class="col-md-4">
		                	<div class="form-group" style="margin-bottom: 0;">
			                	<label for="end" class="control-label col-sm-4 text-left">结束日期</label>
				                <div class="input-group date form_datetime col-md-7" style="margin-bottom: 0;">
				                    <input class="form-control" size="" type="text" value="" id="end" >
				                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>-->
				                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				                </div> 
			                </div>
		                </div>
	                	<div class="col-md-4">
	                		{%if !$isDel%}
							<script src="/scripts/download.js"></script>
	                    	<button class="btn btn-primary  col-md-offset-1" onclick="download('order')" style="margin-bottom: 0;">下载表格</button>
	                		{%/if%}
		                </div>
	                </div>
                </form>
            </div>
        </div>
    </div>
    <!--tiles start-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table" id="order">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>学员</th>
                            <th>教练</th>
                            <th>下单时间</th>
                            <th>类别</th>
                            <th>拼教练同伴</th>
                            <th>费用</th>
                            <th>实际支付</th>
                            {%if $isDel%}
                            <th>取消原因</th>
                            <th>处理时间</th>
                            <th>处理人</th>
                            {%else%}
                            <th>预约时间</th>
                            {%/if%}
                            <th>状态</th>
                            <th>详情</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="data" class="text-center">
                        </tbody>
                    </table>
                    <!--页码-->
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination pull-right" id="paging">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<template id="template">
<tr>
    <td>{id}</td>
    <td>{stu}</td>
    <td>{tea}</td>
    <td>{time}</td>
    <td>{kind}</td>
    <td>{status}</td>
    <td>{partner}</td>
    <td class="price">{price}</td>
    <td class="price">{realPrice}</td>
    {%if $isDel%}
    <td>{reason}</td>
    <td>{dealTime}</td>
    <td>{oprator}</td>
    {%else%}
    <td>{info}</td>
    {%/if%}
    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#detail" data-id="{id}" id="getDetail"><i class="detail-btn"></i>查看详情</button></td><td>{option}</td>
</tr>
</template>-->
<script id="template" type="text/template">
	<tr>
    <td>{id}</td>
    <td>{stu}</td>
    <td>{tea}</td>
    <td>{time}</td>
    <td>{kind}</td>
    <td>{partner}</td>
    <td class="price">{price}</td>
    <td class="price">{realPrice}</td>
    {%if $isDel%}
    <td>{reason}</td>
    <td>{dealTime}</td>
    <td>{oprator}</td>
    {%else%}
    <td>{info}</td>
    {%/if%}
    <!-- <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="" data-id="{id}" id="getDetail">查看详情</button></td> -->
    <td>{status}</td>
    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#detail" data-id="{id}" id="getDetail"><i class="detail-btn"></i>查看详情</button></td><td>{option}</td>
	</tr>
</script>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><i class='cacel-btn'></i>取消预约</h4>
            </div>
            <div class="modal-parent">
	            <div class="modal-body J-detail" id="cancelContent">
	                <table class="ulInfo tableStyle">
	                </table>
	                <div class="cancelInfo">
                        
                    </div>
	            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="detail-btn"></i>预约详情</h4>
            </div>
            <div class="modal-parent">
	            <div class="modal-body J-detail" id="detailContent">
	                <table class="ulInfo tableStyle">

	                </table>
	            </div>
	            <div class="modal-footer modal-footer-css">
	                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
	                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
	            </div>
            </div>
        </div>
    </div>
</div>
{%/block%}

{%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/back/order.js"></script>
<script src="/scripts/back/cancel.js"></script>
<script src="/scripts/autoComplet.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/scripts/time.js"></script>
{%/block%}