{%extends file="layout.html"%} {%block "style"%}
<link rel="stylesheet" href="/vendor/assets/plugins/bootstrap-wysihtml5/css/bootstrap-wysihtml5.css">
<style>
    .form-horizontal.form-border .form-group{
        border:none;
    }
</style>
 {%/block%} {%block "content"%}
<section id="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table" id="push">
                    	<thead>
                    		<tr>
                    			<th></th>
                    		</tr>
                    	</thead>
                    	<tbody id="data">
                    		
                    	</tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<template id="template">
	<tr>
		<td></td>
	</tr>
</template>
{%/block%} {%block "scriptItem"%}
<script>
//$(
//	function(){
//		param={
//		T:$('#template').html(),
//		target:'data',
//		dealData:function(data){
//			for(x in data){
//	    		data[x].time=window.data.getTime(data[x].time);
//			}
//			return data;
//		}
//	}
//	PAGER.init(param);}
//);
function reset(){
    $('form').reset();
}
</script>
{%/block%}
