{%extends file="layout.html"%}
{%block "content"%}
<section id="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">专题管理&nbsp;&nbsp;&nbsp;<button id="add" class="btn btn-primary" data-toggle="modal" data-target="#detail">添加专题</button></h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>专题编号</th>
                            <th>专题名称</th>
                            <th>所属科目</th>
                            <th>专题题数</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%foreach $kind as $data%}
                        <!--<tr class="active">-->
                    	<tr>
                            <td>{%$data.id%}</td>
                            <td class="name">{%$data.name%}</td>
                            <td class="type">{%if $data.type eq 0%}科目一{%elseif $data.type eq 1%}科目四{%/if%}</td>
                            <td>{%$data.num%}</td>
                            <td><button class="btn btn-sm btn-primary js-mod" data-id="{%$data.id%}"><i class="detail-btn"></i>修改专题</button></td>
                            <td><button class="btn btn-sm btn-danger" onclick="del({%$data.id%})"><i class="delete-btn"></i>删除专题</button></td>
                        </tr>
                        {%/foreach%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--添加专题模态框-->
    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-css">
	    <div class="modal-content">
	      <div class="modal-header modal-header-css">
	        <button type="button" class="close close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel"><i></i><span id="title">添加专题</span></h4>
	      </div>
	      <div class="modal-parent">
		      <div class="modal-body">
		      	<form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label for="subName" class="col-sm-2 control-label">专题名称</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="name" id="name" placeholder="请输入专题名称">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-2 control-label">所属科目</label>
				    <div class="col-sm-10">
				      <select name="type" id="type">
				      	<option value="0">科目一</option>
				      	<option value="1">科目四</option>
				      </select>
				    </div>
				  </div>
				</form>
		      </div>
		      <div class="modal-footer modal-footer-css">
		        <button type="button" class="btn btn-primary" id="addSub">保存</button>
                <button type="button" class="btn " data-dismiss="modal">取消</button>
		      </div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</section>
{%/block%}

{%block "scriptItem"%}
<script src="/scripts/back/queKind.js"></script>
{%/block%}