{%extends file="layout.html"%}
{%block "style"%}
<style>
    .form-horizontal.form-border .form-group{
        border:none;
    }
</style>
{%/block%}

 {%block "content"%}

<section id="main-content">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-5">
                	<form class="form-horizontal">
	                    <div class="form-group">
	                        <label for="content" class="col-sm-3 control-label">驾校名称</label>
	                        <div class="col-sm-9">
	                            <input class="form-control" id="key" placeholder="请输入驾校名称">
	                        </div>
	                    </div>
                	</form>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" onclick="doSearch()">查询驾校</button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#addSchool" id="btnAdd">添加驾校</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">驾校管理</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id="school">
                        <thead>
                            <tr>
                                <th>驾校名称</th>
                                <th>所属地址</th>
                                <th>场地数量</th>
                                <th>车辆数量</th>
                                <th>教练数量</th>
                                <th>操作</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination pull-right" id="paging">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="addSchool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class='close-btn'></i></button>
                <h4 class="modal-title"><i class="detail-btn"></i>驾校编辑</h4>
            </div>
            <div class="modal-parent">
	            <div class="modal-body modal-body-css">
	                <form class="form-horizontal form-border" id="form">
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label">驾校名字</label>
	                        <div class="col-sm-6">
	                            <input type="text" class="form-control" required="" name="name" placeholder="输入驾校名称">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label">驾校规模</label>
	                        <div class="col-sm-6">
	                            <input type="text" class="form-control" required="" name="size" placeholder="驾校规模">
	                        </div>
	                    </div>
	                    <!-- <div class="form-group">
	                        <label class="col-sm-3 control-label">城市</label>
	                        <div class="col-sm-6">
	                            <input type="text" class="form-control" required="" id="schoolCity" placeholder="所在城市">
	                        </div>
	                    </div> -->
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label">分布地区</label>
	                        <div class="col-sm-6">
	                            <input type="text" class="form-control" required="" name="part" placeholder="分布地区">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label">总校位置</label>
	                        <div class="col-sm-6">
	                            <input type="text" class="form-control" required="" name="address" placeholder="总校位置">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label">车辆数量</label>
	                        <div class="col-sm-6">
	                            <input type="text" class="form-control" required="" name="car" placeholder="车辆数量">
	                        </div>
	                    </div>
	                </form>
	            </div>
	            <div class="modal-footer modal-footer-css">
	                <!--<div class='btn-group'>-->
	                    <button type="button" class='btn btn-primary' id="btnSub">确定</button>
	                    <button type="button" class="btn"  data-dismiss="modal">取消</button>
	                <!--</div>-->
	            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="del" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content">
            <div class="modal-header modal-header-css">
                <button type="button" class="close close_btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="delete-btn"></i>确认删除</h4>
            </div>
            <div class="modal-parent">
	            <div class="modal-body modal-body-css">
	            	<img src="/images/tuihuan.png" alt="" />
	            	<span>确认删除此驾校吗？</span>
	            </div>
	            <div class="modal-footer modal-footer-css">
	                <button type="button" class="btn btn-danger" id="btnDel">确定</button>
	                <button type="button" class="btn" data-dismiss="modal">关闭</button>
	            </div>
            </div>
        </div>
    </div>
</div>
{%/block%} {%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/back/school.js"></script>
{%/block%}
