{%extends file="layout.html"%}
{%block "style"%}
<link rel="stylesheet" href="/css/icon.css">
<link rel="stylesheet" href="/css/autoComplete.css">
    <style>
        #detailContent ul{
            padding:0;
            width:100%;
        }
        #detailContent ul li{
            width:300px;
            height:200px;
            display: block;
            float:left;
            padding:5px;
        }
        #detailContent ul li img{
            width:100%;
            height:190px;;
            border-radius: 8px;

        }
        .dianzan{
            display: inline-block;
            height:18px;
            width:18px;
            text-indent: -999em;
            background:url('/images/dianzan.png') no-repeat scroll 0 0;
            vertical-align: middle;
            background-size:15px 15px;
        }
        
    </style>
{%/block%}
{%block "content"%}
<section id="main-content">
     <div class="col-md-12 top">
        <div class="panel panel-default">
            <div class="panel-body top-container" >
            	<form class="form-horizontal" onsubmit="return false;">
                <div class="col-md-2">
                    <div class="form-group" style="margin-bottom: 0;">
                        <label class="col-sm-5 control-label">发布人</label>
                        <div class="col-sm-7">
                            <input class="form-control autoComplet" id="user" placeholder="发布人">
                            <ul class="completeList" data-target="user"></ul>
                            <input type="hidden" id="userId" value=0>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" >
                    <div class="form-group" style="margin-bottom: 0;">
                        <label class="col-sm-5 control-label">内容</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="content" placeholder="根据内容搜索">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                		<div class="form-group" style="margin-bottom: 0;">
	                        <label for="teacher" class="col-sm-5 control-label">开始日期</label>
	                        <div class="input-group date form_datetime col-md-6" style="margin-bottom: 0;">
			                    <input class="form-control" size="" type="text" value="" id="begin">
			                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>-->
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div>
	                    </div>
                </div>
                <div class="col-md-3">
                	<div class="form-group" style="margin-bottom: 0;">
	                	<label for="end" class="control-label col-sm-5 text-left">结束日期</label>
		                <div class="input-group date form_datetime col-md-6" style="margin-bottom: 0;">
		                    <input class="form-control" size="" type="text" value="" id="end" >
		                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>-->
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
		                </div> 
	                </div>
                </div>
                <div class="col-md-1">
                	<button class="btn btn-primary" id="time" style="margin-bottom: 0;">搜索</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--tiles start-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">驾友圈管理</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id="seeds">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkAll"></th>
                                <th>发布人</th>
                                <th>发布内容</th>
                                <th>发布时间</th>
                                <th>操作</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="data" class="text-center">
                        </tbody>
                    </table>
                    
                    <div class="row">
                    	<button class="btn btn-danger" id="all" style="margin-left: 20px">批量删除</button>
                        <div class="col-xs-6 pull-right">
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination pull-right" id="paging">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content"> 
            <div class="modal-header modal-header-css">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="close-btn"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="delete-btn"></i>删除驾友圈</h4>
            </div>
            <div class="modal-parent">
	            <div class="modal-body modal-body-css">
	            	<i><img src="/images/tuihuan.png" alt="" /></i>
	                <span class="sureInfo">您确定要删除选中的驾友圈吗？</span>
	            </div>
	            <div class="modal-footer modal-footer-css">
	                <button type="button" class="btn btn-danger" id="subBtn">确定</button>
	                <button type="button" class="btn" data-dismiss="modal" id="close">关闭</button>
	            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-css">
        <div class="modal-content" id="detailContent">

        </div>
    </div>
</div>
<!--<template id="template">
<tr>
<td><input type="checkbox" data-id="{id}"></td>
<td>{name}</td>
<td>{content}</td>
<td>{time}</td>
<td>
<button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#detail" id="detailBtn" data-id="{id}"><i class="detail-btn"></i>查看详情</button>
</td>
<td>
<button class="btn btn-danger btn-sm js-del" data-toggle="modal" data-target="#delete" data-id="{id}"><i class="delete-btn"></i>删除驾友圈</button>
</td>
</tr>
</template>-->
<script id="template" type="text/template">
	<tr>
		<td><input type="checkbox" data-id="{id}"></td>
		<td>{name}</td>
		<td>{content}</td>
		<td>{time}</td>
		<td>
		<button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#detail" id="detailBtn" data-id="{id}"><i class="detail-btn"></i>查看详情</button>
		</td>
		<td>
		<button class="btn btn-danger btn-sm js-del" data-toggle="modal" data-target="#delete" data-id="{id}"><i class="delete-btn"></i>删除驾友圈</button>
		</td>
	</tr>
</script>
{%/block%} {%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/back/seeds.js"></script>
<script src="/scripts/autoComplet.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/scripts/time.js"></script>
{%/block%}
