{%extends file="layout.html"%}

{%block "content"%}
<section id="main-content">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">参数设置</h3>
            </div>
            <div class="panel-body">
                <label for="student" class="col-sm-2 control-label">教练提成</label>
                <!--<div class="col-sm-5">
                    <input id="ticheng" value="{%$ticheng%}">%
                </div>-->
                <div class="input-group col-sm-2">
					<input id="ticheng" value="{%$ticheng%}" type="text" class="form-control" style="background: #fff;">
					<span class="input-group-addon">%</span>
				</div>
                <button class="btn btn-primary js-sub" data-id="ticheng">提交</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">价格设置</h3>
            </div>
            <div class="panel-body">
                <label for="student" class="col-sm-2 control-label">三星教练价格</label>
                <div class="col-sm-5">
                    <input class="money" value="{%$money[0]%}">%
                </div>
            </div>
            <div class="panel-body">
                <label for="student" class="col-sm-2 control-label">四星教练价格</label>
                <div class="col-sm-5">
                    <input class="money" value="{%$money[1]%}">%
                </div>
            </div>
            <div class="panel-body">
                <label for="student" class="col-sm-2 control-label">五星教练价格</label>
                <div class="col-sm-5">
                    <input class="money" value="{%$money[2]%}">%
                </div>
                <button class="btn btn-primary js-suball" data-id="money">提交</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">教练升星福利</h3>
            </div>
            <div class="panel-body">
                    {%foreach from=$level item=$item%}
                <div class="col-sm-7">
                    <input class="level" value="{%$item%}">
                </div>
                    {%/foreach%}
            <button class="btn btn-primary js-suball" data-id="level">提交</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">时间设置</h3>
            </div>
            <div class="panel-body" id="time">
            </div>
            <button class="btn btn-primary" id="btntime">提交</button>
        </div>
    </div>
</section>
{%/block%}

{%block "scriptItem"%}
<script>
$(document).ready(function(){
    var time={%$time%};
    var str='';
    for (var i = 0; i < 23; i++) {
        str+=i+':00-'+(i+1)+':00<input type="checkbox" class="time" value="'+i+'">';
    };
    $('#time').html(str);
    for(x in time)
        $('[value='+time[x]+']:checkbox').attr('checked',true);
	$('.js-sub').on('click',function(){
		var id=$(this).attr('data-id');
		var data={};
		data[id]=$('#'+id).val();
		$.web('',data,function(){
			alert('修改成功！');
		},'put');
	});
    $('.js-suball').on('click',function(){
        var id=$(this).attr('data-id');
        var param={};
        var data=[];
        $('.'+id).each(function(){
            data.push(this.value);
        });
        param[id]=data;
        $.web('',param,function(){
            alert('修改成功！');
        },'put');
    });
    $('#btntime').on('click',function(){
        var data=[];
        $('.time:checked').each(function(){
            data.push(this.value);
        });
        $.web('',{time:data},function(){
            alert('修改成功！');
        },'put');
    });
});
</script>
{%/block%}
