{%extends file="layout.html"%}
{%block "style"%}
<link rel="stylesheet" href="/css/tongji.css">
{%/block%}
{%block "content"%}
<link rel="stylesheet" href="/css/autoComplete.css">
<section id="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body top-container">
            	<form class="form-horizontal" onsubmit="return false;">
	                <div class="row">
	                <div class="col-md-4">
	                    <div class="form-group">
	                        <label for="student" class="col-sm-4 control-label">用户名</label>
	                        <div class="col-sm-7" style="padding:0px;">
	                            <input class="form-control autoComplet" id="student" placeholder="学员名">
	                            <ul class="completeList" data-target="student"></ul>
	                            <input type="hidden" id="studentId" value=0>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-4" >
	                    <div class="form-group">
	                        <label for="teacher" class="col-sm-4 control-label">筛选</label>
	                        <div class="col-sm-7"  style="padding:0px;">
	                            <select id="type" class="form-control col-sm-4">
                                	<option value="0">全部</option>
                                	<option value="1">学员</option>
                                	<option value="2">教练</option>
                            	</select>
	                        </div>
	                    </div>
	                </div>
	                </div>
	                <div class="row">
		                <div class="col-md-4">
		            		<div class="form-group" style="margin-bottom: 0;">
		                        <label for="teacher" class="col-sm-4 control-label">开始日期</label>
		                        <div class="input-group date form_datetime col-md-7" style="margin-bottom: 0;">
				                    <input class="form-control" size="" type="text" value="" id="begin" >
				                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				                </div>
		                    </div>
		                </div>
		                <div class="col-md-4">
		                	<div class="form-group" style="margin-bottom: 0;">
			                	<label for="end" class="control-label col-sm-4 text-left">结束日期</label>
				                <div class="input-group date form_datetime col-md-7" style="margin-bottom: 0;">
				                    <input class="form-control" size="" type="text" value="" id="end" >
				                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				                </div> 
			                </div>
		                </div>
	                	<div class="col-md-3">
	                    	<button class="btn btn-primary" id="time" style="margin-bottom: 0;">查询</button>
	                    	<button class="btn btn-primary" id="download" style="margin-bottom: 0;">下载表格</button>
		                </div>
	                </div>
            	</form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
	    		<div class="panel-body top-container huobi">
	    			<div class="xuni col-md-3 ">
	    				<p>资金总额</p>
	    				<div>
	    					<img src="/images/tj1.png" alt="" class="img-responsive"/>
	    					<span>4,000,000.00</span>
	    					<b>元</b>
	    				</div>
	    			</div>
	    			<div class="shiji col-md-3">
	    				<p>虚拟货币</p>
	    				<div>
	    					<img src="/images/tj2.png" alt="" />
	    					<span>-4,000,000.00</span>
	    					<b>元</b>
	    				</div>
	    			</div>
	    			<div class="other col-md-3">
	    				<p>实际货币</p>
	    				<div>
	    					<img src="/images/tj3.png" alt="" />
	    					<span>4,000,000.00</span>
	    					<b>元</b>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    </div>
    <div class="row">
    		<div class="col-md-12">
    			<div class="panel panel-default">
    				<div class="panel-heading" id="tongji-head">
	                    <div class="actions pull-right">
	                        <i class="fa js-time active" data-data="0">日</i>
	                        <i class="fa js-time" data-data="1">周</i>
	                        <i class="fa js-time" data-data="2">月</i>
	                    </div>
	                </div>
	                <div class="panel-body">
	                	<table class="table">
	                		<thead>
	                			<tr>
	                				<th>资金总额</th>
	                				<th>实际货币</th>
	                				<th>虚拟货币</th>
	                			</tr>
	                		</thead>
	                		<tbody id="data" class="text-center">
	                		</tbody>
	                	</table>
	                </div>
    			</div>
    		</div>
    	</div>
</section>
<template>
<tr>
	<td>{total}</td>
	<td>{realMoney}</td>
	<td>{virtueMoney}</td>
</tr>
</template>
{%/block%}

{%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/scripts/back/tongji.js"></script>
<script src="/scripts/autoComplet.js"></script>
<script src="/scripts/time.js"></script>
{%/block%}
