{%extends file="layout.html"%}

{%block "content"%}
<link rel="stylesheet" href="/css/autoComplete.css">
<section id="main-content">
    <div class="col-md-12 top">
        <div class="panel panel-default">
            <div class="panel-body top-container">
            	<form class="form-horizontal">
	                <div class="col-md-3">
	                    <div class="form-group">
	                        <label for="" class="col-sm-6 control-label">用户名/手机号</label>
	                        <div class="col-sm-6">
	                            <input class="form-control autoComplet" placeholder="用户名" id="user">
	                            <ul class="completeList" data-target="user"></ul>
	                            <input class="form-control" type="hidden" id="userId">
	                        </div>
	                    </div>
	                </div>
                    <div class="col-md-3">
                		<div class="form-group">
	                        <label for="teacher" class="col-sm-5 control-label">开始日期</label>
	                        <div class="input-group date form_datetime col-md-6">
			                    <input class="form-control" size="" type="text" value="" id="begin">
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div>
	                    </div>
	                </div>
	                <div class="col-md-3">
	                	<div class="form-group">
		                	<label for="end" class="control-label col-sm-5 text-left">结束日期</label>
			                <div class="input-group date form_datetime col-md-6">
			                    <input class="form-control" size="" type="text" value="" id="end" readonly>
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
			                </div> 
		                </div>
	                </div>
	                <div class="col-md-3">
	                	<button class="btn btn-primary" onclick="download()">表格下载</button>
	                	<button class="btn btn-primary" onclick="doSearch()">查询</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
    <!--tiles start-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">提现管理</h3>
                </div>
                <div class="panel-body">

                    <table class="table" id="seeds">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>电话</th>
                            <th>提现账号</th>
                            <th>提现金额</th>
                            <th>提现渠道</th>
                            <th>申请时间</th>
                            <th>提现状态</th>
                            <th>处理时间</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="data">
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination pull-right" id="paging">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<template id="template">
<tr>
    <td>{name}</td>
    <td>{tel}</td>
    <td>{target}</td>
    <td>{amount}</td>
    <td>{channel}</td>
    <td>{createTime}</td>
    <td>{status}</td>
    <td>{time}</td>
    <td>{oprator}</td>
    <td>{option}</td>
</tr></template>
{%/block%}

{%block "scriptItem"%}
<script src="/scripts/ajaxPage.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
function doSearch() {
	var key=$('#userId').val();
	if (key==0) delete PAGER.param.uid;
	else PAGER.param.uid=key;
};
$(document).ready(function(){
	param={
		T:$('#template').html(),
		target:'data',
		dealData:function(data){
			var channel={'1':'支付宝','2':'微信','3':'银行卡'};
			var status={'0':'等待审核','1':'通过','2':'失败'};
			for(x in data){
				data[x].channel=channel[data[x].channel];
				if (data[x].status==0){
					data[x].option='<button class="btn btn-sm btn-primary js-agree" style="margin-right:10px" data-id="'+data[x].id+'">同意</button>'+
                       '<button class="btn btn-sm btn-danger js-disagree" data-id="'+data[x].id+'">不同意</button>';
					data[x].time='';
				}else {
					data[x].option='无';
					data[x].time=window.data.getTime(data[x].time);
				}
				data[x].status=status[data[x].status];
			}
			return data;
		}
	}
	PAGER.init(param);
	$('tbody').on('click','.js-agree',function(){
		var id=$(this).attr('data-id');
		$.web('/back/back/tixian/'+id,{status:1},function(){alert('操作成功！');PAGER.loadPage()},'put');
	});
});
</script>
<script src="/scripts/autoComplet.js"></script>
<script src="/scripts/time.js"></script>
<script src="/scripts/download.js"></script>
{%/block%}
