<link rel="stylesheet" href="/css/autoComplete.css">

    <div class="col-md-2">
        <div class="form-group">
            <label for="student" class="col-sm-5 control-label">学员</label>
            <div class="col-sm-7">
                <input class="form-control autoComplet" id="student" placeholder="学员名">
                <ul class="completeList" data-target="student"></ul>
                <input type="hidden" id="studentId" value=0>
            </div>
        </div>
    </div>
    <div class="col-md-2" >
        <div class="form-group">
            <label for="teacher" class="col-sm-5 control-label">教练</label>
            <div class="col-sm-7">
                <input class="form-control autoComplet" id="teacher" placeholder="教练名">
                <ul class="completeList" data-target="teacher"></ul>
                <input type="hidden" id="teacherId" value=0>
            </div>
        </div>
    </div>
<!--</div>-->
<script src="/scripts/autoComplet.js"></script>