@CHARSET "UTF-8";
.col-sm-8{
	position:relative;
}
.completeList{
   	position:absolute;
	top:36px;
	left:20px;
	background: #fff;
	z-index: 500;
	width:75%;
	padding:0;
	box-shadow: 1px 1px 5px #ccc;
}
.completeList li{
    cursor: pointer;
    padding:5px;
}
.completeList li:hover{
    background: #e3e3e3;
    color:#666;
}