#yc_teaBox .modal-dialog{
	width: 900px;
	/*min-height: 750px;*/

}
#yc_teaBox .modal-body{
	padding:0px;
	height: 495px;
}
#yc_teaBox .modal-body:after{
	content: "";
	display: block;
	clear:both;
}
#yc_teaBox .left_tea{
	float: left;
	width: 345px;
	height: 474px;
	background: #fff;
	padding: 20px;
}
#yc_teaBox .left_tea table tr td:first-child{
	background: #eee;
}
#yc_teaBox .left_tea .opra_btn{
	margin-top:50px;
	text-align: left;
}
#yc_teaBox .left_tea .opra_btn button:first-child{
	margin-right: 64px;
}
#yc_teaBox .left_tea .opra_btn button{
	width: 115px;
	height: 40px;
	border-radius: 8px;

}
#yc_teaBox .right_stu{
	float: right;
	width: 549px;
	height: 495px;
	border-left:1px solid #e7e7e7;
	background: #f7f7f7;
	padding: 20px;
	overflow-y: auto;
}
#yc_teaBox .right_stu table{
	background: #fff;
	font-size: 12px;
	border-top:1px dotted #bbb;
	border-left:1px dotted #bbb;
	width: 100%;
	color: #6e6e6e;
	margin-bottom: 15px;
	font-weight: normal;
	border-collapse:separate
}
#yc_teaBox .right_stu table tr:first-child td,#yc_teaBox .right_stu table tr:last-child td:first-child{
	background: #eee;
	color:#868686;
}
.cancle_td{
	color:#868686 !important;
}
.price_yc{
	color:#e74c3c !important;
}
#yc_teaBox .left_tea table{
	color: #767676;
	font-weight: normal;
	font:14px "microsoft yahei";
}
#yc_teaBox .right_stu table td{
	border-right:1px dotted #bbb;
	border-bottom:1px dotted #bbb;
	text-align: center;
	color:#494949;
}
#yc_teaBox .right_stu table .cancle_reason{
}
#yc_teaBox .left_tea table tr td:last-child{
	text-align: left;
	padding-left: 20px;
	color:#464646;
}
.opra_btn button{
	border: 1px solid #c9c9c9;
}
.opra_btn button:first-child{
	color:#6f6f6f;
}