.sidebar .nano #naver .toggle-bar a{
	padding-left: 0px;
}
.sidebar .nano #naver .toggle-bar a img{
	display: block;
	margin:-12px auto;
}

.sidebar .nano .brand{
	float: left;
    width: 240px;
    height: 82px;
    /*padding: 0 0 0 10px;*/
    position: relative;
    /*background: #1abc9c url("../img/logo.png")  no-repeat 25px 26px;*/
}
.sidebar .nano .brand a{
	display: block;
	width: 100%;
	height: 100%;
}
.sidebar .nano .brand a img{
	height: 82px;
}
.sub-menu{
	position:relative;
}
.float_nav{
	position:absolute;
	top:0px;
	right:-120px;
	width:113px;
}
.float_nav:before{
	content: '';
	display: block;
	border: 5px solid transparent;
	border-right: 5px solid #23313F;
	position:absolute;
	top:24px;
	left:-10px;
}
#leftside-navigation ul li a{
	border-left:2px solid transparent;
}
#leftside-navigation ul li a:hover, #leftside-navigation ul li.active>a{
	border-left:2px solid #1abc9c;
}