.huobi{
	min-width: 1080px;
}
.huobi>div{
	display: inline-block;
	border-radius:5px;
	padding-left: 0px;
	padding-right: 0px;
	width:32%;
	margin-right: 1%;
	height: 200px;
}
.huobi>div>p{
	font-size: 26px;
	text-align: center;
	color:#fff;
	font-weight: bold;
	border-bottom: 1px solid #fff;
	margin: 10px 10px;
}
.huobi>div>div{
	/*width: 250px;*/
	margin: 50px auto;
	text-align: center;
	
}
.huobi>div>div>img{
	display: inline-block;
	vertical-align: top;
}
.huobi>div>div>span{
	font-size: 30px;
	color:#e94c3b;
	font-weight: bold;
	display: inline-block;
	margin: 0 10px;
}
.huobi>div>div>b{
	font-size: 1em;
	color:#fff;
	display: inline-block;
}
.xuni{
	background: #e7c45c;
}
.shiji{
	background: #89c7f1;
}
.other{
	background: #72d4c0;
}
#tongji-head{
	background: #65d1c1;
	
	height: 30px;
	padding: 8px 2px;
}
#time {
	position: absolute;
	top: 0px;
	right: 23px;
	color: #fff;
}
.panel #tongji-head div i.active {
	background: #fff;
	color: #96daff;
}
.panel #tongji-head div i {
	padding: 8px 8px;
	margin-right: -8px;
	border-right: 1px solid #fff;
	color: #fff;
}
.panel-default .actions i {
	font-size: 1em;
	color: #bdc3c7;
	margin: 0 0px;
}