<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>升级浏览器</title>
		<link rel="stylesheet" href="/css/upgrade.css" />
	</head>
	<body>
		<!--top-->
		<div class="top">
			<div class="top_content">
				<img src="/images/upgrade_top.png" alt="" />
			</div>
		</div>
		<!--360切换-->
		<div class="change">
			<div class="change_content">
				<img src="/images/360change.jpg" alt="" />
			</div>
		</div>
		<!--more-->
		<div class="more">
			<div class="content-better">
	            <p class="content-better-title" id="J_tipsText">或者，您有更好的选择</p>
	            <div class="content-browser">
	                <ul class="browser-icon" id="J_broswerChoice">
	                    <li class="f-inline-block browser browser-360" data-broswer="0"></li><!--
	                 --><li class="f-inline-block browser browser-chrome" data-broswer="1"></li><!--
	                 --><li class="f-inline-block browser browser-firefox" data-broswer="2"></li>
	                </ul>
	                <div>
	                    <div class="browser-address browser-360-add J_broswerChoice hidden" data-id="0">
	                        <div class="triangle-top triangle-browser triangle-360"></div>
	                        <div class="browser-add-content">
	                            <p class="browser-txt1">360极速浏览器</p>
	                            <span class="bottom-line"></span>
	                            <p class="browser-txt2">国内高端用户首选</p>
	                            <p class="browser-txt3">内核更新，完美支持WIN10，速度更快</p>
	                            <a href="http://chrome.360.cn/" target="_blank" class="download">马上下载</a>
	                            <div class="install-steps">
	                                <div class="f-inline-block">
	                                    <div class="download-icon"></div>
	                                    <div class="install-steps-text">下载浏览器</div>
	                                </div>
	                                <span class="arrow-right"></span>
	                                <div class="f-inline-block">
	                                    <div class="operate-icon"></div>
	                                    <div class="install-steps-text">运行程序</div>
	                                </div>
	                                <span class="arrow-right"></span>
	                                <div class="f-inline-block">
	                                    <div class="install-icon"></div>
	                                    <div class="install-steps-text">安装程序</div>
	                                </div>
	                                <span class="arrow-right"></span>
	                                <div class="f-inline-block">
	                                    <div class="success-icon"></div>
	                                    <div class="install-steps-text">安装完毕</div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="browser-address browser-chrome-add J_broswerChoice "data-id="1">
	                        <div class="triangle-top triangle-browser triangle-chrome"></div>
	                        <div class="browser-add-content">
	                            <p class="browser-txt1">Chrome谷歌浏览器</p>
	                            <span class="bottom-line"></span>
	                            <p class="browser-txt2">快速的网络浏览器</p>
	                            <p class="browser-txt3">一款适用于计算机、手机和平板电脑的浏览器</p>
	                            <a href="https://www.baidu.com/s?wd=chrome" target="_blank" class="download">马上下载</a>
	                            <div class="install-steps">
	                                <div class="f-inline-block">
	                                    <div class="download-icon"></div>
	                                    <div class="install-steps-text">下载浏览器</div>
	                                </div>
	                                <span class="arrow-right"></span>
	                                <div class="f-inline-block">
	                                    <div class="operate-icon"></div>
	                                    <div class="install-steps-text">运行程序</div>
	                                </div>
	                                <span class="arrow-right"></span>
	                                <div class="f-inline-block">
	                                    <div class="install-icon"></div>
	                                    <div class="install-steps-text">安装程序</div>
	                                </div>
	                                <span class="arrow-right"></span>
	                                <div class="f-inline-block">
	                                    <div class="success-icon"></div>
	                                    <div class="install-steps-text">安装完毕</div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="browser-address browser-firefox-add J_broswerChoice hidden"data-id="2">
	                        <div class="triangle-top triangle-browser triangle-firefox"></div>
	                        <div class="browser-add-content">
	                            <p class="browser-txt1">Firefox火狐浏览器</p>
	                            <span class="bottom-line"></span>
	                            <p class="browser-txt2">开源网页浏览器</p>
	                            <p class="browser-txt3">最快、最安全的上网体验</p>
	                            <a href="http://www.firefox.com.cn/download/" target="_blank" class="download">马上下载</a>
	                            <div class="install-steps">
	                                <div class="f-inline-block">
	                                    <div class="download-icon"></div>
	                                    <div class="install-steps-text">下载浏览器</div>
	                                </div>
	                                <span class="arrow-right"></span>
	                                <div class="f-inline-block">
	                                    <div class="operate-icon"></div>
	                                    <div class="install-steps-text">运行程序</div>
	                                </div>
	                                <span class="arrow-right"></span>
	                                <div class="f-inline-block">
	                                    <div class="install-icon"></div>
	                                    <div class="install-steps-text">安装程序</div>
	                                </div>
	                                <span class="arrow-right"></span>
	                                <div class="f-inline-block">
	                                    <div class="success-icon"></div>
	                                    <div class="install-steps-text">安装完毕</div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
		<script src="/scripts/jquery-1.12.3.min.js"></script>
		<script>
			$('.browser-icon').on('click','li',function(){
				var id=$(this).attr('data-broswer');
				var curr=$(this).parent().next().find('div[data-id='+id+']');
				curr.removeClass('hidden').siblings().addClass('hidden');
			});
		</script>
	</body>
</html>
